
.szoveg{text-align: center;
font-weight: bold;
font-style: italic;}

.nagy{font-size: xx-large;}

.kerek{border-radius: 100px;}

p{text-decoration: underline}

h1 {
    text-transform: uppercase;
    text-align:center;
    margin-bottom: 100px;
}

body {
  background-color: black;
  background-image: url(letöltött/bphatter2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

span.link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: yellow;
}

.displayMe {
  width: 250px;
  position: absolute;
  z-index: 999;
}

.displayMe img {
  width: 100%;
  box-shadow: 2px 2px 10px black;
  border-radius: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

